<%- include ('./header.ejs') -%>
<div class="container">
    <form action="/employee/create" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Code</label>
            <input type="number" name="code" class="form-control" id="exampleInputEmail1" placeholder="Code">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Name</label>
            <input type="text" name="name" class="form-control" id="exampleInputPassword1" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Age</label>
            <input type="number" name="age" class="form-control" id="exampleInputPassword1" placeholder="Age">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Salary</label>
            <input type="number" name="salary" class="form-control" id="exampleInputPassword1" placeholder="Salary">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Branch</label>
            <select name="branch" data-size="5" id="formGroupExampleInput2" class="form-control selectpicker" style="width:800px">
                <br>
                <% branch.forEach((item) => {%>
                    <option value="<%= item._id%>"> <%= item.name%></option>
                <% })%>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>